################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScheduleAPISamples/v15
/bin/Debug
/obj/Debug
/packages
